.highcharts-data-label {
	font-weight: normal;
    font-family: 'Verdana, sans-serif';
}

.highcharts-axis-labels {
	font-weight: normal;
    font-family: 'Verdana, sans-serif';
}

.highcharts-axis-title {
	font-weight: normal;
    font-family: 'Verdana, sans-serif';
}